
body {
	background-image: url("../images/horo.jpg");
	background-size: cover;

}

h1 { 
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #ffffff;
	text-align: center;
	font-size: 50px;
	margin-top: 20px;
	margin-bottom: 50px;
}

#instructions {
	padding: 20px;
	border: 2px solid;
	background-color: #ffffff;
	width: 70%;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 50px;

}


#random-number, #win-loss, #score {
	border: 2px solid;
	background-color: #00FFFF;
	font-size: 20px;
	width: 40%;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 50px;
	padding: 30px;
	text-align: center;


}

#crystals {
	float: right;
	margin-top: -600px;
	margin-right: 50px;
	margin-bottom: 20px;
	padding: 20px;
	border-width: 15px solid #ffffff;
}

/*#crystal1, #crystal2, #crystal3, #crystal4{
	float: right;
	margin-top: -500px;
	postion:absolute;
	margin-right: 50px;
/*	padding: 20px;*/
	
/*}*/











